<%- include("partials/header") %>
 


<div class="class container">

    <header class="jumbotron">
        <div class="class container">
            <h1>Welcome To YelpCamp!</h1>
            <p>View our camp on whole world</p>
            <p>
                <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add New CapGround</a>
            </p>
        </div>
    </header>
    
     <div class="class row text-center" style="display: flex; flex-wrap: wrap;">
        <% campgrounds.forEach(function(campground){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="<%= campground.image %>">
                </div>
                <div class="class caption">
                    <h4><%= campground.name %></h4>
                </div>
                
                
            </div>
            <% }); %>
    </div>
</div>    
    <%- include("partials/footer") %>